
<%= javascript_include_tag 'autofill_listing_for_landlord.js' %>

<div class = 'container'>
	<nav class="navbar navbar-inverse">
		<div id = 'navbar'>
			<ul class="nav navbar-nav pull-right">
				<li><%= link_to 'Home', root_path%></li>
				<li><%= link_to 'Log Out', logout_path, method: :delete %></li>
			</ul>
		</div>
	</nav>
	<h1>Welcome Back, <%= current_user.first_name %></h1>
	<h2>Your Properties</h2>
	<% @listings.each do |listing| %>
		<% if listing.landlord_id == current_user.id %>
		<div class = "property">
			<%= image_tag("" + listing.main[75..listing.main.length], size: "150") %>
			<p><%= listing.address %></p>
			<p><%= listing.neighborhood %></p>
			<a class="btn btn-default" href="listings/<%= listing.id %>">Edit</a>
		</div>
		<% end %>
	<% end %>
	<p>Put properties here</p>
	<h2>Add a Property</h2>
	<div class = "form-group">
		<%= form_for Listing.new, html: { multipart: true } do |f| %>
			<div class = "form-group">
				<%= f.label :neighborhood %>
				<%= f.select :neighborhood,
				  options_for_select([['Admiral District', 'Admiral District'],['Alki', 'Alki'], ['Ballard', 'Ballard'], ['Beacon Hill', 'Beacon Hill'], ['Belltown', 'Belltown'], ['Capitol Hill', 'Capitol Hill'], ['Columbia City', 'Columbia City'], ['Crown Hill', 'Crown Hill'], ['Eastlake', 'Eastlake'], ['First Hill', 'First Hill'], ['Fremont', 'Fremont'], ['Georgetown', 'Georgetown'], ['Green Lake', 'Green Lake'], ['Harbor Island', 'Harbor Island'], ['Licton Springs', 'Licton Springs'], ['Loyal Heights', 'Loyal Heights'], ['Madison Park', 'Madison Park'], ['Madrona', 'Madrona'], ['Magnolia', 'Magnolia'], ['Maple Leaf', 'Maple Leaf'], ['Mercer Island', 'Mercer Island'], ['Montlake', 'Montlake'], ['Mount Baker', 'Mount Baker'], ['Northgate', 'Northgate'], ['Othello', 'Othello'], ['Phinney Ridge', 'Phinney Ridge'], ['Pioneer Square', 'Pioneer Square'], [':( 8 < -', 'Aurora'], ['Queen Anne', 'Queen Anne'], ['Rainier Valley', 'Rainier Valley'], ['Ravenna', 'Ravenna'], ['Sand Point', 'Sand Point'], ['Southlake', 'Southlake'], ['U District', 'U District'], ['Wallingford', 'Wallingford'], ['Wedgwood', 'Wedgwood'], ['Westlake', 'Westlake'], ['West Seattle', 'West Seattle'], ['White Center', 'White Center']], 38)%>
			</div>
			<div class = "form-group">
				<%= f.label :address %>
				<%= f.text_field :address, :autofocus => true, onfocus: "geolocate()", cols: 50 %>
			</div>
			<div class = "form-group">
				<%= f.label :price %>
				<%= f.number_field :price %>
			</div>
			<div class = "form-group">
				<%= f.label :type %>
				<%= f.select :category,
				  options_for_select([['Aparment', 'Apartment'],['House', 'House'], ['Guest House', 'Guest House'], ['Condo', 'Condo'], ['House Boat', 'House Boat'], ['Storage', 'Storage']], 6)%>
			</div>
			<div class = "form-group">
				<%= f.label :description %>
				<br>
				<%= f.text_area :description, cols: 50, rows: 5 %>
			</div>
			<div class = "form-group">
				<h4>Check all that apply</h4>
				<%= f.label :pet_friendly %>
				<%= f.check_box "pet_friendly" %>
				<%= f.label :hot_tub %>
				<%= f.check_box "hot_tub" %>
				<%= f.label :pool %>
				<%= f.check_box "pool" %>
				<%= f.label :paid_utilities %>
				<%= f.check_box "paid_utils" %>
				<%= f.label :wheelchair_accessible %>
				<%= f.check_box "wheelchair_accessible" %>
			</div>
			<div class = "form-group">
				<%= f.label :number_of_bathrooms %>
				<%= f.number_field :baths %>
			</div>
			<div class = "form-group">
				<%= f.label :number_of_half_bathrooms %>
				<%= f.number_field :half_baths %>
			</div>
			<div class = "form-group">
				<%= f.label :number_of_bedrooms %>
				<%= f.number_field :beds %>
			</div>
			<div class = "form-group">
				<%= f.label :avatar %>
				<%= f.file_field :avatars, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
			</div>

			<%= f.submit "Submit" %>
<% end %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + ENV["google_maps_key"] + "&libraries=places&callback=initAutocomplete" %>

	</div>
